.app-container {
  width: 100%;
  max-width: 500px;
  background: white;
  padding: 20px;
  border-radius: 15px;
  margin-top: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.473);
}

.app-title {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

/* Form */
.task-form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.task-form input {
  flex: 1;
  padding: 10px;
  border: 2px solid #ddd;
  border-radius: 10px;
  outline: none;
  font-size: 16px;
}

.btn-add {
  background: #4cafef;
  border: none;
  padding: 10px 15px;
  margin-left: 10px;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.btn-add:hover {
  background: #2196f3;
}

/* Task List */
.task-list {
  list-style: none;
}

.task-list li {
  background: #f1f3f6;
  margin-bottom: 10px;
  padding: 12px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-list li.completed span {
  text-decoration: line-through;
  color: gray;
}

.task-actions button {
  margin-left: 5px;
  border: none;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s;
  color: white;
}

.btn-complete {
  background: #4caf50;
}
.btn-complete:hover {
  background: #45a049;
}

.btn-edit {
  background: #ff9800;
}
.btn-edit:hover {
  background: #e68900;
}

.btn-delete {
  background: #f44336;
}
.btn-delete:hover {
  background: #da190b;
}

/* Responsive */
@media (max-width: 600px) {
  .app-container {
    width: 100%;
    padding: 15px;
  }
  .task-form input {
    font-size: 14px;
  }
}




